@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

/*  prevent iOS font size change */
html {
  -webkit-text-size-adjust: 100%;
}

/*  reset body line-height */
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.diagonal-bg {
  height: 100%;
  background: linear-gradient(153deg, #2a1b60 50%, #ebeef5 50%);
}

/* #card:hover {
  transform: rotate(360deg);
}

.rotating-card {
  perspective: 150rem;
  position: relative;
  box-shadow: none;
  background: none;
} */

/* .rotating-card .card-side {
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* .rotating-card .card-side.back {
  transform: rotateY(-180deg);
}

.rotating-card:hover .card-side.front {
  transform: rotateY(180deg);
}

.rotating-card:hover .card-side.back {
  transform: rotateY(0deg);
} */

.isActive{
  color : #73afe8 !important;
}
